<%= simple_form_for(@tweep) do |f| %>
<%= f.error_notification %>
<div class="field">
  <div class="control">
    <%= f.input :tweep, label: "Tweep about it!", input_html: { class: "textarea"}, wrapper: false, label_html: {class: "label" }, placeholder: "Compose a new Tweep...", autofocus: true %>
  </div>
</div>
<%= f.button :submit, class: "button is-info" %>
<% end %>